img(src='http://www.getemboy.com/wp-content/uploads/2016/06/giveaway-banner.png', alt='', style='width:300px;height:50px;')
div.well

	div.payouts

		h4!= payout_header2

		p.wallet-balance= 'Current Balance: '+wallet_balance